<form class="container" [formGroup]="sirfGroup" (ngSubmit)="Submit($event)">

    <mat-card class="container-padding">

        <mat-form-field class="container-half-width">
            <input matInput placeholder="SIRF Number" formControlName="SIRFNumber">
        </mat-form-field>

        <mat-form-field class="container-half-width">

            <mat-label>Primary Responsibility</mat-label>
            <mat-select name="lstPrimaryResponsibility" formControlName="PrimaryResponsibility" required
                [(value)]="selectedResponsibility">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of responsibilities" [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>

        </mat-form-field>


        <mat-form-field class="container-half-width">

            <mat-label>Company Name</mat-label>
            <mat-select name="lstCompanyName" formControlName="CompanyName" required [(value)]="selectedCompany"
                (selectionChange)="companyname_change($event)">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let company of companyNames" [value]="company">
                    {{company}}
                </mat-option>
            </mat-select>

        </mat-form-field>



        <mat-form-field class="container-half-width">
            <mat-label>Priority Level</mat-label>
            <mat-select name="lstPriorityLevel" formControlName="Priority" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of priorities" [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>




        <mat-form-field class="container-half-width">
            <mat-label>Request Category</mat-label>
            <mat-select name="lstRequestCategory" formControlName="RequestCategory" required
                [(value)]="selectedCategory">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of requestCategories" [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="container-half-width">
            <input matInput [matDatepicker]="pickerRD" placeholder="Requested Date" formControlName="RequestedDate">
            <mat-datepicker-toggle matSuffix [for]="pickerRD"></mat-datepicker-toggle>
            <mat-datepicker #pickerRD></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="container-half-width">
            <mat-label>Customer ID</mat-label>
            <mat-select name="lstCustomerID" formControlName="CustomerID" required [(value)]="selectedCustomer"
                (selectionChange)="customer_change($event)">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let customer of customers" [value]="customer.id">
                    {{customer.id}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="container-half-width">
            <mat-label>Customer Name</mat-label>
            <mat-select name="lstCustomerName" formControlName="CustomerName" required [(value)]="selectedCustomer"
                (selectionChange)="customer_change($event)">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let customer of customers" [value]="customer.id">
                    {{customer.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="container-half-width">
            <mat-label>Customer Region</mat-label>
            <mat-select name="lstCustomerRegion" formControlName="CustomerRegion" required
                [(value)]="selectedCustomerRegion">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of customerRegions" [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field class="container-half-width">
            <mat-label>Business Region</mat-label>
            <mat-select name="lstBusinessRegion" formControlName="BusinessRegion" required
                [(value)]="selectedBusinessRegion">

                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of businessRegions" [value]="item.id">
                    {{item.name}}
                </mat-option>

            </mat-select>
        </mat-form-field>


        <mat-form-field class="container-half-width">
            <input matInput [matDatepicker]="pickerDOI" placeholder="Date Of Incident" formControlName="DateOfIncident"
                required>
            <mat-datepicker-toggle matSuffix [for]="pickerDOI"></mat-datepicker-toggle>
            <mat-datepicker #pickerDOI></mat-datepicker>
        </mat-form-field>


        <mat-form-field class="container-half-width">
            <input matInput placeholder="Requested By" formControlName="RequestedBy" required>
        </mat-form-field>       
        <br><br>
        <mat-divider></mat-divider><br>
        <mat-form-field class="container-half-width">
            <mat-label>Reccuring Issue</mat-label>
            <mat-select name="lstReoccuringIssue" formControlName="ReoccuringIssue" required>

                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of reoccuringIssue" [value]="item.id">
                    {{item.name}}
                </mat-option>

            </mat-select>
        </mat-form-field>

        <mat-form-field class="container-half-width">

            <mat-label>Product Type</mat-label>
            <mat-select name="lstProductType" formControlName="ProductType">
                <mat-option value="M">M</mat-option>
                <mat-option value="P">P</mat-option>
                <mat-option value="D">D</mat-option>
            </mat-select>

        </mat-form-field>

        <mat-form-field class="container-full-width">
            <textarea matInput placeholder="Complaint Details" formControlName="ComplaintDetails" required></textarea>
        </mat-form-field>

        <mat-form-field class="container-half-width">

            <mat-label>Product Code</mat-label>
            <mat-select name="lstPartID" formControlName="PartID" [(value)]="selectedPart">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let part of partList" [value]="part.id">
                    {{part.id}}
                </mat-option>
            </mat-select>


        </mat-form-field>

        <mat-form-field class="container-half-width">
            <mat-label>Product Description</mat-label>
            <mat-select name="lstPartName" formControlName="PartName" [(value)]="selectedPart">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let part of partList" [value]="part.id">
                    {{part.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="container-half-width">
            <input matInput placeholder="Sales Order #" formControlName="SalesOrderNumber">
        </mat-form-field>

        <mat-form-field class="container-half-width">
            <input matInput placeholder="Lot Number" formControlName="LotNumber">
        </mat-form-field>
        <mat-form-field class="container-half-width">
            <input matInput placeholder="Customer PO" formControlName="CustomerPO">
        </mat-form-field>

        <mat-checkbox formControlName="ComplaintSampleReceived">Complaint Sample Received</mat-checkbox>

        <br><br>
        <mat-divider></mat-divider><br>

        <div class="container-half-width">
            <mat-label>Attachments:</mat-label>
            <app-material-file-upload (complete)="onFileComplete($event)"></app-material-file-upload>

        </div>

        <div class="container-half-width">
            <div *ngFor="let item of SIRFAttachmentsVIew">

                    <button mat-flat-button (click)="openDocument(item)">{{item}}</button>

                


            </div>
        </div>




        <div *ngIf="SIRFCompleteMode!='true'">
            <br><br>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="btn-toggle-group">
                <button type="submit" color="warn" (click)="Submit($event)">Submit</button>
            </mat-button-toggle-group>
        </div>

    </mat-card>
</form>