<div class="container">
    <div class="sub-container" id="siteHeader">

        <h3>{{title}}</h3>


        <div class="home-button">

            <button (click)="search_Click()" >
                <mat-icon aria-hidden="false" class="material-icons.md-light">search
                </mat-icon>
            </button>

            <button (click)="pricingHome_Click()">
                <mat-icon aria-hidden="false" class="material-icons.md-light">home
                </mat-icon>
            </button>
        </div>

    </div>
</div>



<router-outlet></router-outlet>