.container {
    
    max-width: 900px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    
  }

  .sub-container{
    width: 100%;
    display:flex;
  }

  .home-button{
      padding-left: 500px;
      
      color: green;
  }

  