<form class="container" [formGroup]="pricingGroup">

    <mat-card>
        <table mat-table [dataSource]="productResults" class="mat-elevation-z8 product-lines-table">

            <!--- Note that these columns can be defined in any order.
                                                  The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="IsCompleted">
                <th mat-header-cell *matHeaderCellDef> Processed</th>
                <td mat-cell *matCellDef="let element"> {{element.isCompleted}} </td>
            </ng-container>

            <ng-container matColumnDef="ProductCode">
                <th mat-header-cell *matHeaderCellDef> Product Code</th>
                <td mat-cell *matCellDef="let element"> {{element.ProductCode}} </td>
            </ng-container>

            <ng-container matColumnDef="ProductDescription">
                <th mat-header-cell *matHeaderCellDef> Product Description</th>
                <td mat-cell *matCellDef="let element"> {{element.ProductDescription}} </td>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef> Actions</th>
                <td mat-cell *matCellDef="let element">
                    <mat-button-toggle-group #group="matButtonToggleGroup" name="fontStyle" aria-label="Font Style"
                        class="btn-toggle-group">

                        <mat-button-toggle [value]='element.lineID'>
                            <mat-icon aria-hidden="false" aria-label="Example home icon">insert_chart_outlined
                            </mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle [value]='element.lineID' (click)="lineEdit(element)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </mat-card>

    <mat-card>

        <app-product-details #productDetails ShowGrid="no"></app-product-details>
    </mat-card>

    <mat-card *ngIf="showCompletionLine">
        <mat-form-field class="container-half-width">

            <mat-label>Unit Of Measure</mat-label>
            <mat-select name="lstUnitOfMeasure" formControlName="UnitOfMeasure">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of uomList" [value]="item.name">
                    {{item.name}}
                </mat-option>
            </mat-select>

        </mat-form-field>

        <mat-form-field class="container-half-width">
            <mat-label>Quote Currency</mat-label>
            <mat-select name="lstQuoteCurrency" formControlName="QuoteCurrency">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of currencyCodes" [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="container-half-width">
            <input matInput placeholder="Cost Per UOM" formControlName="CostPerUOM">
        </mat-form-field>


        <mat-form-field class="container-half-width">
            <input matInput placeholder="Selling Price Per UOM" formControlName="SellingPricePerUOM">
        </mat-form-field>


        <mat-form-field class="container-half-width">
            <mat-label>Transport Terms</mat-label>
            <mat-select name="lstTransportTerms" formControlName="TransportTerms">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of transportTermsList" [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="container-half-width">
            <mat-label>Shipping Warehouse</mat-label>
            <mat-select name="lstShippingWarehouse" formControlName="ShippingWarehouse">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of shippingWarehouseList" [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>



        <mat-form-field class="container-half-width">
            <input matInput placeholder="Minimum Order Quantity" formControlName="MinimumOrderQuantity">
        </mat-form-field>

        <mat-form-field class="container-half-width">
            <input matInput placeholder="Estimated Lead Time" formControlName="EstimatedLeadTime">
        </mat-form-field>


        <mat-form-field class="container-half-width">

            <input matInput placeholder="Quote Expiration Date" formControlName="QuoteExpirationDate">
        </mat-form-field>
        <mat-form-field class="container-half-width">
            <input matInput placeholder="Price Validity Date" formControlName="PriceValidityDate">
        </mat-form-field>
        <mat-form-field class="container-half-width">
            <input matInput placeholder="Sent To CM Date" formControlName="SentToCMDate">
        </mat-form-field>



        <mat-form-field class="container-half-width">
            <input matInput placeholder="Price Prepared By" formControlName="PricePreparedBy">
        </mat-form-field>


        <mat-form-field class="container-half-width">
            <input matInput placeholder="Approval Date" formControlName="ApprovalDate">
        </mat-form-field>

        <mat-form-field class="container-half-width">
            <mat-label>Price Approved By</mat-label>
            <mat-select name="lstPriceApprovedBy" formControlName="PriceApprovedBy">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of approverList" [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="container-half-width">
            <input matInput placeholder="Completion Date" formControlName="CompletionDate">
        </mat-form-field>


        <mat-form-field class="container-half-width">
            <input matInput placeholder="Exchange Rate" formControlName="ExchangeRate">
        </mat-form-field>


        <br><br>
        <div>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="btn-toggle-group">
                <button type="button" (click)="saveline()" class="btn btn-success">Save</button>
                <button type="button" (click)="cancel()">Cancel</button>
            </mat-button-toggle-group>
        </div>




        <br><br>


       

        <div class="container-full-width">
            <div class="key-val-style">
                <b>Key</b>
            </div>
            <div class="key-val-style">
                <b>Value</b>
            </div>
            <div class="key-val-style">
                <b>Actions</b>
            </div>
        </div>
        <div class="container-full-width">
            <div class="key-val-style">
                <input matInput placeholder="Key" formControlName="FinaliseKey">
            </div>
            <div class="key-val-style">
                <input matInput placeholder="Key" formControlName="FinaliseValue" step="0.01" placeholder="0.00"
                    type="number">
            </div>
            <div class="key-val-style">
                <button class="btn-add-product" class="btn btn-outline-success" (click)="addKeyValue()"
                    color="primary">Save</button>
                <button class="btn-add-product" class="btn btn-outline-success" (click)="clear()">Clear</button>
            </div>

        </div>
        <br>
        <div class="container-full-width" *ngFor="let pair of lineKeyVal">
            <div class="key-val-style">
                {{pair.Key}}
            </div>
            <div class="key-val-style">
                {{pair.Value}}
            </div>
            <div class="key-val-style-15">
                <button class="btn-add-product" mat-raised-button (click)="edit(pair)">Edit</button>
            </div>
            <div class="key-val-style-15">
                <button class="btn-add-product" mat-raised-button (click)="delete(pair)">Delete</button>
            </div>
        </div>
        <br><br>


    </mat-card>
</form>