.container {
    
    max-width: 900px;
    width: 100%;
  }

  .container-item{
      display: inline;      
  }
  
  .container-block{
      display: inline-block;
  }

  .checkbox-container{
      width: 200px;
      padding-left: 20px;
  }

  .container-full-width {textarea{
    min-height: 100px;
    min-width: 600px;}
    
  }