<form class="container" [formGroup]="sirfRootCause">
    <table>
        <tr>
            <td style="width:200px;">Root Cause Category *
            </td>
            <td>
                <mat-error *ngIf="!IsRootCauseSelected">Please select a root cause</mat-error>
            </td>
        </tr>
        <tr *ngFor="let item of categoryList">
            <td></td>
            <td>
                <mat-checkbox [checked]="item.checked" (change)="check_change($event, item.id)">{{item.name}}
                </mat-checkbox>
            </td>
        </tr>
        <tr>
            <td colspan="2">

            </td>
        </tr>

    </table>

    <div>
        <textarea formControlName="comments" matInput
            placeholder="Please use the text field below to provide further details if needed or If you have selected 'Other' as a Root Cause Category Reason above"></textarea>
    </div>

</form>